# Data files
data
.venv

# Byte-compiled files
*.pyc
*.pyo
*.pyd

# Cache directories
__pycache__/
*.cache
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE and editor settings
.vscode/
.idea/
*.swp
*~
